# Data Visualisation - EDA

In [13]:
import pandas as pd
import numpy as np
import altair as alt
import seaborn as sns
sns.set(style="ticks", palette="pastel")

In [14]:
df = pd.read_csv('../../data/processed_data/cases_airports.csv')

In [15]:
df

,index,Province/State,Country/Region,Lat,Long,date,cases,cases_cum,days_since_first_case,growth_rate,airports_cum
0,0,unknown,Afghanistan,33.0000,65.000,1/22/20,0,0,0,0.0,22.0
1,0,unknown,Afghanistan,33.0000,65.000,1/23/20,0,0,0,0.0,22.0
2,0,unknown,Afghanistan,33.0000,65.000,1/24/20,0,0,0,0.0,22.0
3,0,unknown,Afghanistan,33.0000,65.000,1/25/20,0,0,0,0.0,22.0
4,0,unknown,Afghanistan,33.0000,65.000,1/26/20,0,0,0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...
16429,248,unknown,Burma,21.9162,95.956,3/23/20,0,0,0,0.0,43.0
16430,248,unknown,Burma,21.9162,95.956,3/24/20,0,0,0,0.0,43.0
16431,248,unknown,Burma,21.9162,95.956,3/25/20,0,0,0,0.0,43.0
16432,248,unknown,Burma,21.9162,95.956,3/26/20,0,0,0,0.0,43.0
16433,248,unknown,Burma,21.9162,95.956,3/27/20,8,8,1,1.0,43.0