# Preprocess John Hopkins data

## import bibs

In [5]:
import numpy as np
import pandas as pd
import math

## raed data from John Hopkins' Git repo

In [392]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

jh_ts_confirmed = pd.read_csv(url, error_bad_lines=False)

In [393]:
jh_ts_confirmed.head(-5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,22,22,24,24,40,40,74,84,94,110
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,59,64,70,76,89,104,123,146,174,186
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,74,87,90,139,201,230,264,302,367,409
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,39,53,75,88,113,133,164,188,224,267
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,1,2,2,3,3,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,0,0,0,0,0,0,2,3,6,6
240,NaN,Libya,26.335100,17.228331,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
241,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,41,44,47,48,52,59,59,59,84,91
242,NaN,Guinea-Bissau,11.803700,-15.180400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
243,NaN,Mali,17.570692,-3.996166,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,4,11

In [394]:
jh_ts_confirmed.shape

(249, 70)

In [395]:
jh_ts_confirmed_time = jh_ts_confirmed.drop(columns=['Province/State', 'Country/Region', 'Lat', 'Long'])

In [396]:
jh_ts_confirmed_time01 = jh_ts_confirmed_time.unstack(level=-1).reset_index(name='cases')

In [397]:
jh_ts_confirmed_time01.rename(columns={'level_0': 'date', 'level_1': 'index'}, inplace=True)

In [398]:
jh_ts_confirmed_time01.head(-5)

          date  index  cases
0      1/22/20      0      0
1      1/22/20      1      0
2      1/22/20      2      0
3      1/22/20      3      0
4      1/22/20      4      0
...        ...    ...    ...
16424  3/27/20    239      6
16425  3/27/20    240      1
16426  3/27/20    241     91
16427  3/27/20    242      2
16428  3/27/20    243     11

[16429 rows x 3 columns]

In [399]:
jh_ts_confirmed_time01.shape

(16434, 3)

In [400]:
jh_ts_confirmed_country = jh_ts_confirmed[['Province/State', 'Country/Region', 'Lat', 'Long']]

In [401]:
jh_ts_confirmed_country.head()

  Province/State Country/Region      Lat     Long
0            NaN    Afghanistan  33.0000  65.0000
1            NaN        Albania  41.1533  20.1683
2            NaN        Algeria  28.0339   1.6596
3            NaN        Andorra  42.5063   1.5218
4            NaN         Angola -11.2027  17.8739

In [402]:
jh_ts_confirmed_country.shape

(249, 4)

In [403]:
jh_ts_confirmed_country.index.name = 'index'

In [404]:
jh_ts_confirmed_country.head()

      Province/State Country/Region      Lat     Long
index
0                NaN    Afghanistan  33.0000  65.0000
1                NaN        Albania  41.1533  20.1683
2                NaN        Algeria  28.0339   1.6596
3                NaN        Andorra  42.5063   1.5218
4                NaN         Angola -11.2027  17.8739

In [405]:
jh_ts_confirmed_country.index

RangeIndex(start=0, stop=249, step=1, name='index')

In [406]:
join = jh_ts_confirmed_time01.set_index('index').join(jh_ts_confirmed_country)

In [407]:
join.head(-5)

          date  cases Province/State Country/Region      Lat    Long
index
0      1/22/20      0            NaN    Afghanistan  33.0000  65.000
0      1/23/20      0            NaN    Afghanistan  33.0000  65.000
0      1/24/20      0            NaN    Afghanistan  33.0000  65.000
0      1/25/20      0            NaN    Afghanistan  33.0000  65.000
0      1/26/20      0            NaN    Afghanistan  33.0000  65.000
...        ...    ...            ...            ...      ...     ...
248    3/18/20      0            NaN          Burma  21.9162  95.956
248    3/19/20      0            NaN          Burma  21.9162  95.956
248    3/20/20      0            NaN          Burma  21.9162  95.956
248    3/21/20      0            NaN          Burma  21.9162  95.956
248    3/22/20      0            NaN          Burma  21.9162  95.956

[16429 rows x 6 columns]

In [408]:
cols = join.columns.tolist()

In [409]:
cols

['date', 'cases', 'Province/State', 'Country/Region', 'Lat', 'Long']

In [410]:
cols = cols[2:] + cols[:-4]

In [411]:
join = join[cols]

In [412]:
join

      Province/State Country/Region      Lat    Long     date  cases
index
0                NaN    Afghanistan  33.0000  65.000  1/22/20      0
0                NaN    Afghanistan  33.0000  65.000  1/23/20      0
0                NaN    Afghanistan  33.0000  65.000  1/24/20      0
0                NaN    Afghanistan  33.0000  65.000  1/25/20      0
0                NaN    Afghanistan  33.0000  65.000  1/26/20      0
...              ...            ...      ...     ...      ...    ...
248              NaN          Burma  21.9162  95.956  3/23/20      0
248              NaN          Burma  21.9162  95.956  3/24/20      0
248              NaN          Burma  21.9162  95.956  3/25/20      0
248              NaN          Burma  21.9162  95.956  3/26/20      0
248              NaN          Burma  21.9162  95.956  3/27/20      8

[16434 rows x 6 columns]

### write csv file to disk

In [413]:
join.to_csv('../../data/processed_data/jh_ts_confirmed_preprocessed_01.csv', sep=',', encoding='utf-8')

## feature engineering

In [414]:
join = pd.read_csv('../../data/processed_data/jh_ts_confirmed_preprocessed_01.csv')

In [415]:
join = join.replace(np.nan, 'unknown', regex=True)

In [416]:
join

       index Province/State Country/Region      Lat    Long     date  cases
0          0        unknown    Afghanistan  33.0000  65.000  1/22/20      0
1          0        unknown    Afghanistan  33.0000  65.000  1/23/20      0
2          0        unknown    Afghanistan  33.0000  65.000  1/24/20      0
3          0        unknown    Afghanistan  33.0000  65.000  1/25/20      0
4          0        unknown    Afghanistan  33.0000  65.000  1/26/20      0
...      ...            ...            ...      ...     ...      ...    ...
16429    248        unknown          Burma  21.9162  95.956  3/23/20      0
16430    248        unknown          Burma  21.9162  95.956  3/24/20      0
16431    248        unknown          Burma  21.9162  95.956  3/25/20      0
16432    248        unknown          Burma  21.9162  95.956  3/26/20      0
16433    248        unknown          Burma  21.9162  95.956  3/27/20      8

[16434 rows x 7 columns]

In [417]:
join['Country_State'] = join['Province/State'] + '-' + join['Country/Region']

In [418]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State
0,0,unknown,Afghanistan,33.0000,65.000,1/22/20,0,unknown-Afghanistan
1,0,unknown,Afghanistan,33.0000,65.000,1/23/20,0,unknown-Afghanistan
2,0,unknown,Afghanistan,33.0000,65.000,1/24/20,0,unknown-Afghanistan
3,0,unknown,Afghanistan,33.0000,65.000,1/25/20,0,unknown-Afghanistan
4,0,unknown,Afghanistan,33.0000,65.000,1/26/20,0,unknown-Afghanistan
...,...,...,...,...,...,...,...,...
16429,248,unknown,Burma,21.9162,95.956,3/23/20,0,unknown-Burma
16430,248,unknown,Burma,21.9162,95.956,3/24/20,0,unknown-Burma
16431,248,unknown,Burma,21.9162,95.956,3/25/20,0,unknown-Burma
16432,248,unknown,Burma,21.9162,95.956,3/26/20,0,unknown-Burma
16433,248,unknown,Burma,21.9162,95.956,3/27/20,8,unknown-Burma

In [419]:
join['cases_cum'] = join.groupby(by=['Country_State'])['cases'].transform(lambda x: x.cumsum())

In [420]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State,cases_cum
0,0,unknown,Afghanistan,33.0000,65.000,1/22/20,0,unknown-Afghanistan,0
1,0,unknown,Afghanistan,33.0000,65.000,1/23/20,0,unknown-Afghanistan,0
2,0,unknown,Afghanistan,33.0000,65.000,1/24/20,0,unknown-Afghanistan,0
3,0,unknown,Afghanistan,33.0000,65.000,1/25/20,0,unknown-Afghanistan,0
4,0,unknown,Afghanistan,33.0000,65.000,1/26/20,0,unknown-Afghanistan,0
...,...,...,...,...,...,...,...,...,...
16429,248,unknown,Burma,21.9162,95.956,3/23/20,0,unknown-Burma,0
16430,248,unknown,Burma,21.9162,95.956,3/24/20,0,unknown-Burma,0
16431,248,unknown,Burma,21.9162,95.956,3/25/20,0,unknown-Burma,0
16432,248,unknown,Burma,21.9162,95.956,3/26/20,0,unknown-Burma,0
16433,248,unknown,Burma,21.9162,95.956,3/27/20,8,unknown-Burma,8

In [421]:
join['days_since_first_case_indicator'] = np.where(join['cases'] > 0, 1, 0)

In [422]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State,cases_cum,days_since_first_case_indicator
0,0,unknown,Afghanistan,33.0000,65.000,1/22/20,0,unknown-Afghanistan,0,0
1,0,unknown,Afghanistan,33.0000,65.000,1/23/20,0,unknown-Afghanistan,0,0
2,0,unknown,Afghanistan,33.0000,65.000,1/24/20,0,unknown-Afghanistan,0,0
3,0,unknown,Afghanistan,33.0000,65.000,1/25/20,0,unknown-Afghanistan,0,0
4,0,unknown,Afghanistan,33.0000,65.000,1/26/20,0,unknown-Afghanistan,0,0
...,...,...,...,...,...,...,...,...,...,...
16429,248,unknown,Burma,21.9162,95.956,3/23/20,0,unknown-Burma,0,0
16430,248,unknown,Burma,21.9162,95.956,3/24/20,0,unknown-Burma,0,0
16431,248,unknown,Burma,21.9162,95.956,3/25/20,0,unknown-Burma,0,0
16432,248,unknown,Burma,21.9162,95.956,3/26/20,0,unknown-Burma,0,0
16433,248,unknown,Burma,21.9162,95.956,3/27/20,8,unknown-Burma,8,1

In [423]:
join['days_since_first_case'] = join.groupby(by=['Country_State'])['days_since_first_case_indicator'].transform(lambda x: x.cumsum())

In [424]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,Country_State,cases_cum,days_since_first_case_indicator,days_since_first_case
0,0,unknown,Afghanistan,33.0000,65.000,1/22/20,0,unknown-Afghanistan,0,0,0
1,0,unknown,Afghanistan,33.0000,65.000,1/23/20,0,unknown-Afghanistan,0,0,0
2,0,unknown,Afghanistan,33.0000,65.000,1/24/20,0,unknown-Afghanistan,0,0,0
3,0,unknown,Afghanistan,33.0000,65.000,1/25/20,0,unknown-Afghanistan,0,0,0
4,0,unknown,Afghanistan,33.0000,65.000,1/26/20,0,unknown-Afghanistan,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
16429,248,unknown,Burma,21.9162,95.956,3/23/20,0,unknown-Burma,0,0,0
16430,248,unknown,Burma,21.9162,95.956,3/24/20,0,unknown-Burma,0,0,0
16431,248,unknown,Burma,21.9162,95.956,3/25/20,0,unknown-Burma,0,0,0
16432,248,unknown,Burma,21.9162,95.956,3/26/20,0,unknown-Burma,0,0,0
16433,248,unknown,Burma,21.9162,95.956,3/27/20,8,unknown-Burma,8,1,1

In [425]:
join = join.drop(columns=['Country_State', 'days_since_first_case_indicator'])

In [426]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,cases_cum,days_since_first_case
0,0,unknown,Afghanistan,33.0000,65.000,1/22/20,0,0,0
1,0,unknown,Afghanistan,33.0000,65.000,1/23/20,0,0,0
2,0,unknown,Afghanistan,33.0000,65.000,1/24/20,0,0,0
3,0,unknown,Afghanistan,33.0000,65.000,1/25/20,0,0,0
4,0,unknown,Afghanistan,33.0000,65.000,1/26/20,0,0,0
...,...,...,...,...,...,...,...,...,...
16429,248,unknown,Burma,21.9162,95.956,3/23/20,0,0,0
16430,248,unknown,Burma,21.9162,95.956,3/24/20,0,0,0
16431,248,unknown,Burma,21.9162,95.956,3/25/20,0,0,0
16432,248,unknown,Burma,21.9162,95.956,3/26/20,0,0,0
16433,248,unknown,Burma,21.9162,95.956,3/27/20,8,8,1

In [427]:
a = []
for i in range(len(join.index)):
    if i == 0:
        a.append(join['cases_cum'].iloc[i])
    elif 1 != 0:
        a.append( (join['cases_cum'].iloc[i] - join['cases_cum'].iloc[i -1]) / join['cases_cum'].iloc[i -1] )

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in long_scalars

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in long_scalars

In [428]:
a = [0.0 if math.isnan(x) else 1 if x > 1 else 0 if x < 0 else round(x, 2) for x in a]

In [429]:
join['growth_rate'] = a

In [430]:
join

,index,Province/State,Country/Region,Lat,Long,date,cases,cases_cum,days_since_first_case,growth_rate
0,0,unknown,Afghanistan,33.0000,65.000,1/22/20,0,0,0,0.0
1,0,unknown,Afghanistan,33.0000,65.000,1/23/20,0,0,0,0.0
2,0,unknown,Afghanistan,33.0000,65.000,1/24/20,0,0,0,0.0
3,0,unknown,Afghanistan,33.0000,65.000,1/25/20,0,0,0,0.0
4,0,unknown,Afghanistan,33.0000,65.000,1/26/20,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
16429,248,unknown,Burma,21.9162,95.956,3/23/20,0,0,0,0.0
16430,248,unknown,Burma,21.9162,95.956,3/24/20,0,0,0,0.0
16431,248,unknown,Burma,21.9162,95.956,3/25/20,0,0,0,0.0
16432,248,unknown,Burma,21.9162,95.956,3/26/20,0,0,0,0.0
16433,248,unknown,Burma,21.9162,95.956,3/27/20,8,8,1,1.0

### write csv file to disk

In [431]:
join.to_csv('../../data/processed_data/jh_ts_confirmed_preprocessed.csv', index=False, sep=',', encoding='utf-8')

## Get a list of all countries

In [432]:
country_list = set(join['Country/Region'])

In [433]:
country_list = pd.DataFrame(data=country_list, columns=['country'])

In [434]:
country_list

                              country
0                             Hungary
1                            Honduras
2                             Eritrea
3                          Mauritania
4    Saint Vincent and the Grenadines
..                                ...
171                  Diamond Princess
172                    United Kingdom
173                             Kenya
174                           Tunisia
175                             Italy

[176 rows x 1 columns]

In [435]:
country_list.to_csv('../../data/processed_data/country_list.csv', index=False, sep=',', encoding='utf-8')