# Preprocess Airport Data

In [73]:
import numpy as np
import pandas as pd
import math

In [104]:
cols = ['Airport ID' ,'Name','City', 'Country','IATA ','ICAO ','4-letter ICAO code.' ,'Latitude ','Longitude ','Altitude','Timezone','DST','Tz database time zone','Type' ,'Source']

url = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat'

airports = pd.read_csv(url, names=cols, error_bad_lines=False)

In [105]:
airports.columns

Index(['Airport ID', 'Name', 'City', 'Country', 'IATA ', 'ICAO ',
       '4-letter ICAO code.', 'Latitude ', 'Longitude ', 'Altitude',
       'Timezone', 'DST', 'Tz database time zone', 'Type', 'Source'],
      dtype='object')

In [106]:
airports

,Airport ID,Name,City,Country,IATA,ICAO,4-letter ICAO code.,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports,NaN
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports,NaN
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports,NaN
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports,NaN
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,14106,Rogachyovo Air Base,Belaya,Russia,\N,ULDA,71.616699,52.478298,272,\N,\N,\N,airport,OurAirports,NaN
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,51.849998,107.737999,1670,\N,\N,\N,airport,OurAirports,NaN
7695,14108,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,58.625000,31.385000,85,\N,\N,\N,airport,OurAirports,NaN
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports,NaN
7697,14110,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,46.880001,35.305000,0,\N,\N,\N,airport,OurAirports,NaN

In [107]:
airports = airports[['Country', 'City', 'Name']]

In [108]:
airports['no. of Airports'] = 1

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [109]:
airports

,Country,City,Name,no. of Airports
0,Papua New Guinea,Goroka,Goroka Airport,1
1,Papua New Guinea,Madang,Madang Airport,1
2,Papua New Guinea,Mount Hagen,Mount Hagen Kagamuga Airport,1
3,Papua New Guinea,Nadzab,Nadzab Airport,1
4,Papua New Guinea,Port Moresby,Port Moresby Jacksons International Airport,1
...,...,...,...,...
7693,Russia,Belaya,Rogachyovo Air Base,1
7694,Russia,Ulan Ude,Ulan-Ude East Airport,1
7695,Russia,Novgorod,Krechevitsy Air Base,1
7696,Chile,Copiapo,Desierto de Atacama Airport,1
7697,Ukraine,Melitopol,Melitopol Air Base,1

In [110]:
countries = pd.read_csv('../../data/processed_data/country_list.csv')

In [111]:
countries

                              country
0                             Hungary
1                            Honduras
2                             Eritrea
3                          Mauritania
4    Saint Vincent and the Grenadines
..                                ...
171                  Diamond Princess
172                    United Kingdom
173                             Kenya
174                           Tunisia
175                             Italy

[176 rows x 1 columns]

In [112]:
join = countries.join(airports.set_index('Country'), on='country')

In [114]:
#join = join.drop(columns=['Unnamed: 0'])

In [115]:
join.columns

Index(['country', 'City', 'Name', 'no. of Airports'], dtype='object')

In [116]:
join

,country,City,Name,no. of Airports
0,Hungary,Budapest,Budapest Liszt Ferenc International Airport,1.0
0,Hungary,Debrecen,Debrecen International Airport,1.0
0,Hungary,Kecskemet,Kecskemét Airport,1.0
0,Hungary,Nyirregyhaza,Nyíregyháza Airport,1.0
0,Hungary,Ocseny,Őcsény Airport,1.0
...,...,...,...,...
175,Italy,Casale Monferrato,Casale Monferrato Airport,1.0
175,Italy,Varese,Varese-Venegono Airport,1.0
175,Italy,Novi Ligure,Novi Ligure Airport,1.0
175,Italy,Sarzana (SP),Sarzana-Luni Air Base,1.0
175,Italy,Reggio Emilia,Reggio Emilia Airport,1.0

In [117]:
join['airports_cum'] = join.groupby(by=['country'])['no. of Airports'].transform(lambda x: x.sum())

In [118]:
join

,country,City,Name,no. of Airports,airports_cum
0,Hungary,Budapest,Budapest Liszt Ferenc International Airport,1.0,16.0
0,Hungary,Debrecen,Debrecen International Airport,1.0,16.0
0,Hungary,Kecskemet,Kecskemét Airport,1.0,16.0
0,Hungary,Nyirregyhaza,Nyíregyháza Airport,1.0,16.0
0,Hungary,Ocseny,Őcsény Airport,1.0,16.0
...,...,...,...,...,...
175,Italy,Casale Monferrato,Casale Monferrato Airport,1.0,83.0
175,Italy,Varese,Varese-Venegono Airport,1.0,83.0
175,Italy,Novi Ligure,Novi Ligure Airport,1.0,83.0
175,Italy,Sarzana (SP),Sarzana-Luni Air Base,1.0,83.0
175,Italy,Reggio Emilia,Reggio Emilia Airport,1.0,83.0

In [119]:
join.to_csv('../../data/processed_data/airports_per_country.csv', index=False, sep=',', encoding='utf-8')